.nav {
  padding: 0px;
  margin: 0px;
}
.nav-row {
  padding: 0px;
  margin: 0px;
}
.nav-link {
  height: 100%;
  color: deeppink;
  font-size: 1rem;
  text-decoration: none;
  margin: 0px;
  min-width: 0px;
}
.nav-logo {
}
.nav-spacer {
  flex: 1 1 auto;
}
.nav-login {
  display: static;
  right: 0;
}
